
.g-app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.g-content {
		// flex-grow: 1;
		flex: 1 1 0.1%;
		min-height: 100vh;
	}
}


// main {
// 	min-height: 100vh;
// }
// .wrapper {
// 	min-height: 100%;
// 	display: flex;
// 	flex-direction: column;
//   }
//   .main {
// 	flex-grow: 1;
//   }