.button {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
  padding: 10px 20px;

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0;
    background-color: currentColor;
    transition: height 1s cubic-bezier(0.65, 0.05, 0.41, 0.56),
      opacity 1s cubic-bezier(0.65, 0.05, 0.41, 0.56);
  }

  &:hover:before,
  &:focus:before {
    height: 2px;
    opacity: 1;
  }

  &._box {
    background-color: #8a33fd;
    margin: 0 auto;
    &::before {
      display: none;
    }
  }

  &._box-underline {
    color: #8a33fd;
    margin: 0 auto;
    &::before {
      display: none;
    }
  }

  &.card_box{
    width: 100%;
    display: block;
    margin: 0 auto;
    color: #fff;
    background-color: #8a33fd;
  }
}

.button-blue {
  background-color: blue;
}

.button-green {
  background-color: green;
}
