@import url("./reset.scss");
@import url("./layout/container.scss");
@import url("./layout/pages.scss");

.g-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .g-content {
    // flex-grow: 1;
    flex: 1 1 0.1%;
  }
}

.g-page {
  padding: 48px 0;
  box-sizing: border-box;
}

.g-title {
  position: relative;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 32px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 16%;
    height: 6px;
    border-radius: 6px;
    background-color: #afaeae;
  }
}
.home-work__title {
  display: block;
  margin: 0 auto;
  color: #000;
  font-size: 24px;
  font-style: bold;
  font-weight: 600;
  line-height: 98.529%; /* 98.529% */
  letter-spacing: 0.68px;
}
