.g-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 66, 66);
    min-height: 64px;
    width: 100%;
    
    .copywriting {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
    }
}