.header {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgba(3, 37, 65, 1);
  background-color: #8a33fd;
  // min-height: 64px;
  width: 100%;
  transition: top 0.2s linear;

  .header__logo {
    .logo {
      display: block;
      width: 91px;
    }
  }

  .header__actions {
    // display: flex;
    align-items: center;

    .header__icon-list {
       display: flex;
      align-items: center;
      //margin-right: 16px;
      color: #fff;
      font-size: 16px;
      // text-decoration: none;

      // .icon-favorite {
      //   fill: #fff;
      // }
        
        // .icon-basket {
          
        //   fill: #ffffff;
        // }
        // .count {
        //   display: inline-block;
        //   width: 19px;
        //   height: 19px;
        //   color: #fff;
        // }
      
    }
  }

  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    color: #3c4242;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;

    &-list {
      display: flex;
    }
  }
}
