// .clothing__container {

// }

.clothing__title {
  color: #3c4242;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 98.529%; /* 98.529% */
  letter-spacing: 0.68px;
}

.clothing__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.clothing__card {
  margin: 20px;
  // position: relative;
  
}

.card__img {
  position: relative;
}
.star {
  position: absolute;
  top: 15px;
  right: 15px;
  // fill: #ffffff;
  // color: white;
  cursor: pointer;
}

.card__title {
  color: #2a2f2f;
  font-size: 17.875px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.93px; /* 156.25% */
  letter-spacing: -0.715px;
}

.card__subtitle {
  display: flex;
  justify-content: space-between;
  color: #7f7f7f;
  font-size: 13.407px;
  font-style: normal;
  font-weight: 500;
  line-height: 27.93px; /* 208.333% */
  letter-spacing: -0.536px;
}

.card_box{
  width: 100%;
  display: block;
  margin: 0 auto;
}

._box {
  display: block;
  margin: 0 auto;
  // color: red;
}

.arrow{
  
  cursor: pointer;
   //color: rgb(243, 7, 7);
   
}
